{% extends "layouts/login-defautl.html" %}

{% block title %} {{ _('Đăng nhập') }} Admin{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<style>
    .card-body {
        margin: auto;
        width: 30%;
        padding: 10px;
    }

    .btn-center {
        display: block;
        margin: 0 auto;
    }

    .main-panel {
        width: 100%;
    }

    .card-title {
        text-align: center;
    }

    .link-login {
        position: relative;
        left: -9.3%;
        top: -137px;
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }

    .link-login:hover {
        color: white;
        text-decoration: none;
        background: transparent;
    }
</style>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">

                        {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                        <span>{{ _('Đăng nhập tài khoản') }}</span>
                        {% endif %}

                    </div>
                </div>
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-12">

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                        </div>
                                        {{ form.username(placeholder="{{ _('Tài khoản') }}", class="form-control") }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        {{ form.password(placeholder="{{ _('Mật khẩu') }}", class="form-control", type="password") }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-success btn-center">{{ _('Đăng nhập') }}</button>
                    </div>

                </form>
                <button type="button" class="link-login" data-toggle="modal" data-target="#myModal"><i>{{ _('Đăng kí tài khoản') }}</i></button>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="pull-left">{{ _('Vui lòng nhập các thông tin sau !') }}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-12 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Tài khoản') }}</label>
                                                <input id="CameraId" type="text" class="form-control"
                                                    placeholder="{{ _('Tài khoản') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Mật khẩu') }}</label>
                                                <input id="AddressId" type="text" class="form-control"
                                                    placeholder="{{ _('Mật khẩu') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Xác nhận mật khẩu') }}</label>
                                                <input id="CameraId" type="text" class="form-control"
                                                    placeholder="{{ _('Xác nhận mật khẩu') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Họ và tên') }}</label>
                                                <input id="AddressId" type="text" class="form-control"
                                                    placeholder="{{ _('Họ và tên') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Mã nhân viên') }}</label>
                                                <input id="CameraId" type="text" class="form-control"
                                                    placeholder="{{ _('Mã nhân viên') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Chức vụ công ty') }}</label>
                                                <input id="AddressId" type="text" class="form-control"
                                                    placeholder="{{ _('Chức vụ công ty') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Chi nhánh công ty') }}</label>
                                                <input id="CameraId" type="text" class="form-control"
                                                    placeholder="{{ _('Chi nhánh công ty') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>{{ _('Địa chỉ công ty') }}</label>
                                                <input id="AddressId" type="text" class="form-control"
                                                    placeholder="{{ _('Địa chỉ công ty') }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>Email</label>
                                                <input id="AddressId" type="text" class="form-control"
                                                    placeholder="Email">
                                            </div>
                                        </div>

                                        <div class="container">
                                            <button type="button" id="addRowButton"
                                                class="btn btn-primary pull-right">{{ _('Tạo tài khoản') }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script src="/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}