{% extends "layouts/default.html" %}

{% block title %} {{ _('Quản lý nhật kí') }} {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<style>
    .fix-right-mqn {
        margin-right: 10px;
    }
</style>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">{{ _('Thiết lập tham số hệ thống') }}</h4>
                        <button class="btn btn-primary btn-round ml-auto">
                                <span class="btn-label">
                                    <i class="fa fa-print"></i>
                                </span>
                                Print
                            </button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Modal -->

                    <form class="systemconfig" method="post" id="formConfigValidation" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>{{ _('Kích thước dữ liệu tải lên (MB);') }}</label>
                                    <input id="uploadsize" type="number" name="uploadsize" class="form-control"
                                        placeholder="{{ _('2000') }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-default">
                                    <label>{{ _('Dung lượng lưu trữ tối đa cho mỗi người dùng') }}</label>
                                    <input id="userstoresize" type="number" name="userstoresize" class="form-control"
                                        placeholder="{{ _('5000') }}" required>
                                </div>
                            </div>
                        </div>
                         <div class="modal-footer no-bd">
                                <input type="submit" name="" value="{{ _('Thiết lập') }}" class="btn btn-success">
                                <input type="reset" name="" value="{{ _('Hủy Bỏ') }}" class="btn btn-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}