python-engineio==3.13.2
python-socketio==4.6.0
flask==2.1.3
flask_login
flask_migrate
flask_wtf
flask_sqlalchemy==2.5.1
SQLAlchemy==1.4.44
flask_bcrypt
gunicorn
pillow
keras
mtcnn
flask_mail
flask_cors
flask_socketio
sqlalchemy-datatables
mxnet
sklearn
eventlet
flask_cors
#flask_socketio
opencv-python
Flask-Migrate
flask_babel
#tensorflow==2.1.0
scikit-image
Flask-JWT
SQLAlchemy-serializer
redis
rq
email_validator
ipywidgets
pandas_profiling
